compile.sh
main.aux
main.lof
main.log
main.lot
main.out
main.pdf
main.toc
main.bbl
main.blg
main.acn
main.glo
main.loa
main.synctex.gz
preface.aux
texput.log
main.xdy
abstract_english.aux


chapters/10_focusGroup2.aux

chapters/11_discussion.aux

chapters/12_validity.aux

chapters/13_conclusion.aux

chapters/1_introduction.aux
chapters/2_hci.aux

chapters/3_sensorTechnology.aux

chapters/4_physicalTherapy.aux

chapters/5_researchDesign.aux

chapters/6_initialRequirements.aux

chapters/7_prototype1.aux

chapters/8_focusGroup1.aux

chapters/9_prototype2.aux
