compile.sh
main.aux
main.lof
main.log
main.lot
main.out
main.pdf
main.toc
main.bbl
main.blg
main.acn
main.glo
main.loa
main.synctex.gz
preface.aux
texput.log
main.xdy
abstract_english.aux
chapters/10_focusGroup2.aux
chapters/11_discussion.aux
chapters/12_validity.aux
chapters/13_conclusion.aux
chapters/01_introduction.aux
chapters/02_hci.aux
chapters/03_sensorTechnology.aux
chapters/04_physicalTherapy.aux
chapters/05_researchDesign.aux
chapters/06_initialRequirements.aux
chapters/07_prototype1.aux
chapters/08_focusGroup1.aux
chapters/09_prototype2.aux
*.acr
*.alg
*.glg
*.gls
*.swp
*.aux
